[Desktop Entry]
Comment[pt_BR]=
Comment=
Exec=/usr/bin/right-click-fix
GenericName[pt_BR]=
GenericName=
Icon=
MimeType=
Name[pt_BR]=Right Click Fix
Name=Right Click Fix
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
